<div class="portfolio">
  <h1> Portfolio Name </h1>
  <div class="total">
    Total Happiness: 350,000,000,000,000,000,000
  </div>

  <div class="portfolio-charts">
    <h2>Portfolio Breakdown:</h2>
    <h3>Cool PieChart Here</h3>
    <h1>( <)</h1>
  </div>

  <div class="stocks">
    <h2>Stocks:</h2>
    <ul>
      <li>40% Apple Inc. (AAPL) - </li>
      <li>40% Google (GOOG)</li>
      <li>20% Chipotle (CMG)</li>
    </ul>
  </div>

  <div class="gains-losses">
    <h2>Gains and Losses:</h2>
    <ul>
      <li>Apple Inc. : -20% </li>
      <li>Google. : +10% </li>
      <li>Chipotle : +125% </li>
    </ul>
  </div>


</div>
