<div class="portfolio">
  <h1> Portfolio Name </h1>
  <div class="total">
    Total Happiness: 350,000,000,000,000,000,000
  </div>

  <div class="portfolio-charts">
    <h2>Portfolio Breakdown:</h2>
    <h3>Cool PieChart Here</h3>
    <h1>( <)</h1>

    <ul>
      <li>40% Apple Inc. (AAPL) </li>
      <li>40% Google (GOOG)</li>
      <li>20% Chipotle (CMG)</li>
      (This will be part of the pie chart)
    </ul>
  </div>

  <div class="stocks">
    <h2>Stocks:</h2>
    <ul>
      <li><a href="/stocks/APPL">Apple Inc. (APPL): -20%</a> </li>
      <li> <a href="/stocks/GOOG">Google. (GOOG): +10% </a> </li>
      <li>  <a href="/stocks/CMG">Chipotle (CMG): +125%</a> </li>
    </ul>
  </div>

  <a href="/">Go Back</a>
</div>
